# Dependencies
node_modules/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log

# Firebase Secrets
firebase-config.js

# Environment & Secrets
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/